<!-- <div class="container">
    <div class="card-show">
      <%=image_tag @pig.photo%>
    <div class="card-show-infos">
      <div class="card-show-title">
        <h2><%= @pig.name %></h2>
      </div>
       <ul class="pig-list">
          <li>Weight:</u> <%= @pig.weight %></li>
          <li><u>Age:</u> <%= @pig.age %></li>
          <li><u>Profession:</u> <%= @pig.profession %></li>
          <li><u>Bio:</u> <%= @pig.bio %></li>
          <li><u>Price:</u> <%= @pig.price %> € per day</li>
        </ul>
        <div> -->
          <!-- Button trigger modal -->





<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path @pig.photo.key%>')">
  <div class="container">
    <h1>Pick a Pig</h1>
    <p>Because without a pig... <br> Is life actually worth living?</p>
  </div>
</div> -->
<div class= "container">
<div class="row">
  <div class="col-4">
  <div class ="pig-info">
    <h1><strong><%= @pig.name %></strong></h1>
      <div id ="pig-stars" class="footer-links">
        <i class="fas fa-star"></i></a>
        <i class="fas fa-star"></i></a>
        <i class="fas fa-star"></i></a>
        <i class="fas fa-star"></i></a>
        <i class="fas fa-star"></i></a>
      </div>
        <h6 class="spacer2"><strong>Weight:</strong> <%= @pig.weight %>kg</h6>
        <h6 class="spacer2"><strong>Age:</strong>  <%= @pig.age %></h6>
        <h6 class="spacer2"><strong>Profession:</strong>  <%= @pig.profession %></h6>
        <div class="text-justify">
        <h6 class="spacer2"><strong>Bio:</strong>  <%= @pig.bio %></h6>
        <h6 class="spacer2"><strong>Price:</strong>  <%= @pig.price %> € per day</h6>
      </div>
      <div>
    <button id="show-button" type="button" class="btn btn-primary spacer" data-toggle="modal" data-target="#exampleModal">
            Book now
    </button>
      </div>
    <% unless @pig.bookings.where(user: current_user).empty?%>
    <p style="color:green"><%= "booked"%></p>
    <% end %>
  </div>
  </div>
  <div class="col-8">
    <div class="background-image-pig" style= "background-image:url('<%=cl_image_path @pig.photo.key, id:"pig-picture"%>')" ></div> 
  </div>
</div>
</div>





          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Choose a date</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@pig, @booking] do |f| -%>
                  <%= f.input :booking_date, as: :date %>
                  <%= f.submit %>

                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
