<div class="container">
    <div class="card-show">
      <%=image_tag @pig.photo%>
    <div class="card-show-infos">
      <div class="card-show-title">
        <h2><%= @pig.name %></h2>
      </div>
       <ul class="pig-list">
          <li><u>Weight:</u> <%= @pig.weight %></li>
          <li><u>Age:</u> <%= @pig.age %></li>
          <li><u>Profession:</u> <%= @pig.profession %></li>
          <li><u>Bio:</u> <%= @pig.bio %></li>
          <li><u>Price:</u> <%= @pig.price %> € per day</li>
        </ul>
        <div>
          <!-- Button trigger modal -->

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Book now
          </button>
          <% unless @pig.bookings.where(user: current_user).empty?%>
          <p style="color:green"><%= "booked"%></p>
          <% end %>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@pig, @booking] do |f| -%>
                  <%= f.input :booking_date, as: :date %>
                  <%= f.submit %>

                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
